<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dealership Review</title>
    {% load static %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>

    <!--Add a nav bar here -->
    <nav class="navbar navbar-dark bg-dark text-white">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/djangoapp/">THE BEST CARS</a>&nbsp;
                <a class="navbar-brand" href="/djangoapp/about/">ABOUT</a>&nbsp;
                <a class="navbar-brand" href="/djangoapp/contact/">CONTACT</a>
            </div>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                <li>
                    <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                    <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                </li>
                {% else %}
                <li>
                    <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Username" name="username">&nbsp;
                            <input type="password" class="form-control" placeholder="Password" name="psw">&nbsp;
                            <button class="btn btn-primary" type="submit">Login</button>&nbsp;
                            <a class="btn btn-outline-primary" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                        </div>
                    </form>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <!-- Add reviews as cards -->
    
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!-- bottom navbar -->
    <footer class='footer fixed-bottom'>
        <div>
            <nav class='navbar navbar-dark bg-dark text-white'>
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="/djangoapp/">HOME</a>&nbsp;
                        <a class="navbar-brand" href="/djangoapp/about/">ABOUT</a>&nbsp;
                        <a class="navbar-brand" href="/djangoapp/contact/">CONTACT</a>
                    </div>
                    <div class="nav navbar-nav navbar-right">THE BEST CARS DEALERSHIPS © 2022</div>
                </div>
            </nav>
        </div>
    </footer>
</body>

</html>